@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    transition-property: background-image;
    transition-duration: 1s; /* lebih standar menggunakan 1s daripada 1000ms */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-size: cover;
    background-position: center;
  }
}
